server:
  port: ${PORT:8080}

spring:
  cloud:
    stream:
      bindings:
        output:
            # topic name to publish OrganizationChangeEvent events
            destination:  orgChangeTopic
            content-type: application/json
      kafka:
        binder:
          zkNodes: localhost
          brokers: localhost

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: ${EUREKASERVER_URI:http://localhost:8761/eureka}

security:
  oauth2:
    resource:
      userInfoUri: ${AUTH_URI:http://localhost:3333/auth/user}